body{
    /* margin-top: 45px; */
}

.jumbotron {
    height: 450px;
    /* height: 680px; */
    /* max-height: 680px; */
    /* padding-top: 8rem; */
    padding-top: 5rem;
    background-color: #e2edff;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    /* background-position: 0 -50px; */
    overflow: hidden;
}

.jumbotron img{
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}

.jumbotron h1, .jumbotron p{
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
}

/* tambahan class */

.h-350{
    height: 350px;
    overflow: hidden;
}

.h-500{
    height: 500px;
}

.text-justify{
    text-align: justify;
}

#projects{
    background-color: #e2edff;
}

.card{
    /* min-height: 200px; */
    /* width: 19rem; */
}

footer{
    min-height: 40px;
}

.bg{
    /* background-color: #0d6efd; */
}

section{
    padding-top: 5rem;
}

#contact{
    min-height: 600px;
}

.fs-small{
    font-size: small;
}

.hover:hover{
   
    font-size: small;
    transition: 0.2s;
    
}


/* parallax */

.about .thumbnai{
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
    
}
.about .thumbnai.muncul{
    opacity: 1;
    transform: translate(0, 0);
}

.pKiri, .pKanan{
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.pKanan {
    transform: translate(50px,0);
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}


.pAtas, .pBawah{
    opacity: 0;
    transform: translate(0,-50px);
    transition: 1s;
}

.pBawah {
    transform: translate(0,50px);
}

.pAtas.pMuncul, .pBawah.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}

.navbar{
    transition: .4s;
}
